<main>

	<div class="margin-custom">
		<div class="text-center">

			<h1>{{username}}, to logout, please click on the button below!</h1>

			<a href="/logout/user"><button
					type="button"
					class="btn btn-primary"
				>
					Logout
				</button></a>

		</div>

	</div>

</main>